.container {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar main";
}
.ask{width:100%;font-size:150%;text-align:center;margin-top:5vh;}
.confirm{float:left;margin-left:5vw;}
.deny{float:right;margin-right:5vw;}
.confirm, .deny{display:inline-block; cursor:pointer;border: none; border-radius:2vh; background: var(--main);color:var(--sec1);padding:1vh;}

.post {
	border-radius: 2vh;
	background-color: #dedede;
	display:block;
	margin-left:auto;
	margin-right:auto;
	color: var(--text_color);
	width:30%;
	box-shadow: 0.7vw 0.7vw 0.5vw 0;
	transition-property: transform, box-shadow;
	transition:  0.5s;
	margin-top:4vh;
	margin-bottom:4vh;
}

#photo >img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
	border-radius: 2vh 2vh 0 0;
}

#title{word-break:break-word;margin:0;height:8vh;font-size:115%;text-align:center;overflow-y:auto;}

#content {
	margin:0;
    padding: 2vw;
	height:25vh;
	overflow-y: auto;
	font-size:80%;
	background: #fafafa;
	overflow-x:hidden;
	word-break: break-word;
}
#category {
	color: var(--sec1);
	font-size:85%;
}
#description *{display:inline-block;}
#description {
    padding:10%;
    padding-top:5%;
    padding-bottom:5%;
    align-items: center;
	text-align: center;
    color: #555555;
	border-radius: 0.7vw;
}
a{text-decoration:none; }
#author{color:var(--sec1);word-break: break-all;margin:0;margin-right:1vmin;}
#date{margin-right:1vmin;margin:0;}

#profile_pic{display:block;margin-left:auto;filter:drop-shadow(0 3vh 3vh #000);margin-right:auto;margin-top:5vh;width:25%;border-radius:50%;}
#profile_name{text-align:center;font-size:200%;margin-top:5vh;margin-bottom:5vh;}

main {
  overflow-x:hidden;
  background: var(--sec2);
  grid-area: main;
}
@media (max-width:540px) and (orientation: portrait) {
	.container {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"main";
	}
}
@media (orientation: portrait){
	.post{width:60%;}
}