main {
  overflow-x:overlay;
  background: var(--sec2);
  grid-area: main;
}

footer {
  background: var(--sec3);
  grid-area: footer;
  border-top: solid 0.5vh var(--main);
  justify:center;  
  text-align: center;
  font-size:120%;
}

.container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 0.15fr;
  grid-template-areas:
    "sidebar filters filters filters"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar footer footer footer";
}
#filters {
  background: var(--sec3);
  grid-area: filters;
  border-bottom: solid 0.5vh var(--main);
}
#filters>form{
	text-align:center;
    align-items: center;
	padding:1vh 5vw;
	height:100%;
}
#filters * {padding:0.5vmin;appearance:none;margin-top:0.25vh;border:none;color:var(--sec1);margin-left:0.5vw;font-size:90%;}
#filters input{color:var(--sec2);cursor:pointer;}
#filters select {color:var(--sec2);cursor:pointer;}
#filters select *{color:var(--sec2);}
#filters_but{
	color:var(--sec1);
	background:var(--main);
	display:block;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	padding-left: 3vmin; padding-right: 3vmin;
	transition:padding  0.25s;
	font-size:115%;
}
#filters_but:hover{padding-left: 7vmin; padding-right: 7vmin;}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 1.5vwin;
    height: 1.5vwin;
	padding: 0.25vmin;
	margin:0;
	transition:opacity 0.5s;
	transition-delay: 0.2s;
	cursor:pointer;
}
input[type="date"]:focus::-webkit-calendar-picker-indicator {
	opacity:0;
}


/*resizing*/
@media only screen and (max-width: 540px) and (orientation: portrait) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
		"filters"
		"main"
		"footer";
  }

  .post {
	margin-left:20vw;
	margin-right:20vw;}
}