.container {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "sidebar profile"
    "sidebar main";
}
.save{
	margin-left:1vmin;
	background:none;
	color:var(--main);
	border:none;
	cursor:pointer;
}
main {
	overflow-x:hidden;
  background: var(--sec2);
  grid-area: main;
}

#profile {
  background: var(--sec3);
  grid-area: profile;
}
#view{position:relative;grid-area:photo}
#id_profile_pic, #pic_input{position:absolute;left:50%;transform:translate(-50%,-50%);top:40%;width:21vmin;height:21vmin;}
#id_profile_pic {opacity:0;cursor:pointer;}
#pic_input{display:flex;align-items:center;justify-content:center;background-color:#303030ba;border-radius:50%;border: solid 0.5vh #000000;
transition:background-color 0.5s;}
#pic_input:hover{background-color:#303030d9;}
#picture_container{display:flex;align-items:center;justify-content:center;height:80%;}
#profile_photo{position:relative;;width: 21vmin;border-radius:50%;border: solid 0.5vh #000000; height: 21vmin;
 object-fit: cover;filter: drop-shadow(0 0.7vw 0.7vw #000000);background-color:var(--main)}
#profile div span{position:absolute;user-select: text;bottom:0;left:0;width:100%;text-align:center;font-size:125%;}
#profile{
  display: grid;background: var(--sec2);
	box-shadow: 1vw 1vw 0.75vw #000000;border-bottom: solid 0.5vh #000000;
	grid-template-columns: 33% 34% 33%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "contact photo info";
}
#info{grid-area:info;width:100%;}
#info>ul{height:100%;list-style-type: none;}
#info>ul>li{font-size:95%;text-align:center;margin-top:2vmin;font-weight:bold}
#usun_konto{width:100%;margin-top:10vh;text-align:center;cursor:pointer;}
#contact{grid-area:contact;height:100%;left:0;top:0;}
#contact>ul li{text-decoration:none;display:flex;margin-top:2%;position:relative;width:100%;transition: 0.2s}
#contact>ul i{margin-right:1vmin;}
#contact>ul input{width:100%;border:0;}
#twitter, #mail, #instagram, #facebook {transition: color 0.4s;}
#instagram:hover{color:#e4405f;}
#twitter:hover{color:#1DA1F2;}
#facebook:hover{color:#3b5998;}
#mail:hover{color:#BB001B;}
#contact>ul>li>a{text-decoration: none;color:var(--main);}
ul.social-media-list {list-style-type: none;}
form>li>input {width:100%;border:0;}
#edit_profile {
	transition:transform 1s;
	cursor: pointer;
}
#edit_profile:hover {transform: rotate(180deg);}
.social-media-list{padding-left:0.5vw;}
/*resizing*/
@media only screen and (max-width: 540px) and (orientation: portrait) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
		grid-template-areas:
		"profile"
		"main";
	}
	.post{
	margin-left:0;
	margin-right:0;}
	#info>ul>li{font-size:65%;text-align:center;margin-top:2vmin;font-weight:bold}
}
