/* baza strony */
.container {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "sidebar profile"
    "sidebar main";
}
main {
  grid-area: main;
  background: var(--sec2);
  overflow-x:hidden;
}

/* profil */
#profile {
	position: relative;
	display: grid;
	grid-area: profile;
	grid-template-columns: 33% 34% 33%;
	grid-template-rows: 1fr;
	grid-template-areas:
    "contact photo info";
	background: var(--sec2);
	border-bottom: solid 0.5vh #000000;

}
#view{grid-area:photo}

#picture_container{
	display:flex;
	height:80%;
	align-items:center;
	justify-content:center;
}
#profile_photo{
	width: 21vmin;
	height: 21vmin;
	background-color:var(--main);
	border-radius:50%;
	border: solid 0.5vh #000000;
	object-fit: cover;
	filter: drop-shadow(0 0.7vw 0.7vw #000000);
}

#profile div span{
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	text-align:center;
	font-size:125%;
	user-select: text;
}
#edit_profile {
	transition:transform 1s;
	cursor: pointer;
}

#edit_profile:hover {transform: rotate(180deg);}

/* edit */
#id_profile_pic, #pic_input{
	position:absolute;
	width:21vmin;
	height:21vmin;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}

#id_profile_pic {
	opacity:0;
	cursor:pointer;
}
#pic_input{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#303030ba;
	border-radius:50%;
	border: solid 0.5vh #000000;
	transition:background-color 0.5s;
}
#pic_input:hover{
	background-color:#303030d9;
}
.save{
	margin-left:1vmin;
	background:none;
	color:var(--main);
	border:none;
	cursor:pointer;
}

/* informacje */
#info{
	grid-area:info;
	width:100%;
}

#info>ul{
	height:100%;
	list-style-type: none;
}

#info>ul>li{
	margin-top:2vmin;
	text-align:center;
	font-size:95%;
	font-weight:bold;
	word-break: break-word;
}

/* informacje edit */
#usun_konto{
	width:100%;
	margin-top:10vh;
	text-align:center;
	cursor:pointer;
}
/* kontakt */
#contact{
	grid-area:contact;
	height:100%;
	left:0;
	top:0;
	z-index: 1;
}

#contact>ul li{
	display:flex;
	position:relative;
	width:100%;
	margin-top:2%;
	text-decoration:none;
	transition: 0.2s;
}

#contact>ul i{margin-right:1vmin;}
ul.social-media-list {list-style-type: none;padding-left:0.5vw;}

#twitter, #mail, #instagram, #facebook {transition: color 0.4s;}

#instagram:hover{color:#e4405f;}
#twitter:hover{color:#1DA1F2;}
#facebook:hover{color:#3b5998;}
#mail:hover{color:#BB001B;}

/* kontakt edit */
#contact>ul input{width:100%;border:0;}
form>li>input {width:100%;border:0;}
#contact>ul>li>a{text-decoration: none;color:var(--main);}
#mob_i_profil{color:white;}

/* telefony */
@media only screen and (max-width: 540px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
		grid-template-areas:
		"profile"
		"main";
	}
	.post{
		margin-left:0;
		margin-right:0;
	}
	#info>ul>li{
		margin-top:2vmin;
		text-align:center;
		font-size:65%;
		font-weight:bold
	}
	/* vh --> px 1vh ~ 6px, 1vw ~ 3px*/
	#usun_konto{margin-top:60px;}
	#profile div span{font-size:100%;}
}
