#test {color:#ffffff;}
.container {
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar error_text";
}
main {grid-area:error_text;background:var(--sec2);}
main>p {
	text-align:center;
}

@media only screen and (max-width: 540px) and (orientation: portrait) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "error_text";
  }
}