#test {color:#ffffff;}
.container {
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar error_text";
}
main {grid-area:error_text;background:var(--sec2);}
main>p {
	text-align:center;
}