{% load static %}
<link rel="stylesheet" href="{% static 'css/blocks/bottom.css' %}">

<!--- Do poprawy, wytłumaczenie na przyszłość: onclick="location.href=(numer strony)+jeżeli istnieją inne
dane które nie są danymi o stronie to je dodaj &dane=wartość -->
<div id="next_page_bar">
	{% if obiekty.has_previous %}
		<button id="prev_page"
			onclick="location.href='?strona={{ obiekty.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'strona' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'"
		>Poprzednia Strona</button>
	{% endif %}

	{% if obiekty.has_next %}
		<button id="next_page"
			onclick="location.href='?strona={{ obiekty.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'strona' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'"
		>Następna Strona</button>
	{% endif %}
</div>