{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Edycja profilu</title>
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body %}
	<div id="profile">
				<div id="contact">
					<ul class="social-media-list">
							<form method="POST" action=""  enctype="multipart/form-data">
								{% csrf_token %}
								<li><i class="fab fa-facebook"></i><p>facebook.com/</p></li>
								{{profile_form.fb}}
								<li><i class="fab fa-twitter"></i><p>twitter.com/</p></li>
								{{profile_form.tt}}
								<li><i class="fab fa-instagram"></i><p>instagram.com/</p></li>
								{{profile_form.ig}}
								<li><i class="fas fa-map-marked-alt"></i><p>Miejscowość:</p></li>
								{{profile_form.place}}
					</ul>
				</div>
				<div id="view">
					<div id="picture_container">
						<img id="profile_photo"
							{% if request.user.userprofile.profile_pic %}src="{{request.user.userprofile.profile_pic.url}}"
							{% else %} src = "{% static 'logo.png' %}" {% endif %}alt="error">
						</img>
					</div>
						<span>{{request.user.username}}
							<button type="submit" class="save"><i type="submit" class="fas fa-save"></i></button>
						</span>
					<div id="pic_input">
						<i class="far fa-edit" aria-hidden="true" style="font-size:175%;"></i>
						<input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
					</div>
				</div>
				</form>
				<div id="info">
					<div onclick="location.href='{% url 'delete_user' request.user.pk %}'" id="usun_konto">Usuń Konto<i id="delete"class="fas fa-trash-alt"></i></div>
				</div>
	</div>
	<main>
		{% include "post.html"%}
	</main>
	{% include "navbar.html"%}
{% endblock %}