{% load static %}
<link rel="stylesheet" href="{% static 'css/blocks/navbar.css' %}">
<button id="side-menu-trigger"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></button>
<div id="navbar">
		<img id="logo_photo" alt="logo"src="{% static 'logo.png' %}" onclick="location.href='{% url 'MeetMe!' %}'"/>
		{% if request.user.id %}
			<p id="hello">Witaj <span id="username_id">{{request.user}}</span>!</p>
		{% else %}
			<p id="hello">Witaj! Stwórz konto lub zaloguj się żeby zobaczyć resztę treści.</p>
		{% endif %}
		<ul id="menu">
                    <li class="nav" onclick="location.href='{% url 'MeetMe!' %}'"><i class="fas fa-comment-alt"></i>Posty</a></li>
					{% if request.user.id %}
						<li class="nav" onclick="location.href='{% url 'Profil' request.user.id %}'"><i class="fas fa-address-card"></i>Profil</li>
					{% endif %}
					<li class="nav" onclick="location.href='{% url 'o_tworcach' %}'"><i class="fas fa-users"></i>Twórcy</li>
					<li class="nav" onclick="location.href='{% url 'kontakt' %}'"><i class="fas fa-address-book"></i>Kontakt</li>
					<li class="nav" onclick="location.href='{% url 'Info' %}'"><i class="fas fa-info"></i>Informacje</li>
					{% if request.user.id %}	
						<li class="nav" onclick="location.href='{% url 'Wylogowanie' %}'"><i class="fas fa-sign-out-alt"></i>Wyloguj</li>
					{% else %}
						<li class="nav" onclick="location.href='{% url 'Logowanie' %}'"><i class="fas fa-sign-in-alt"></i>Zaloguj się!</li>
						<li class="nav" onclick="location.href='{% url 'Rejestracja' %}'"><i class="fas fa-user-circle"></i>Zarejestruj się!</li>
					{% endif %}
		</ul>
</div>