{% load static %}
<link rel="stylesheet" href="{% static 'css/blocks/navbar.css' %}">
<button id="side-menu-trigger">Menu</button>
<div id="navbar">
		<img id="logo_photo" alt="logo"src="{% static 'logo.png' %}" onclick="location.href='{% url 'MeetMe!' %}'"/>
		<p id="hello">Witaj <span id="username_id">{{request.user}}</span>!</p>
		<ul id="menu">
                    <li class="nav" onclick="location.href='{% url 'MeetMe!' %}'"><i class="fas fa-comment-alt"></i>Posty</a></li>
					<li class="nav" onclick="location.href='{% url 'Profil' request.user.id %}'"><i class="fas fa-address-card"></i>Profil</li>
					<li class="nav" onclick="location.href='{% url 'o_tworcach' %}'"><i class="fas fa-users"></i>O twórcach</li>
					<li class="nav"><i class="fas fa-address-book"></i>Kontakt</li>
					<li class="nav" onclick="location.href='{% url 'Info' %}'"><i class="fas fa-info"></i>Informacje</li>
					<li class="nav" onclick="location.href='{% url 'Wylogowanie' %}'"><i class="fas fa-sign-out-alt"></i>Wyloguj</li>
		</ul>
</div>