{% load static %}
<link rel="stylesheet" href="{% static 'css/blocks/newpost.css' %}">
<button onclick="showForm()" id="addnew">Dodaj post</button>
	<script>
		function showForm() {
			var x = document.getElementById("new_post");
			if (x.style.visibility=="hidden") {
				x.style.opacity = "100%";
				x.style.visibility = "visible";
			} else {
				x.style.opacity = "0";
				x.style.visibility = "hidden";
				}
			}
	</script>
	<script>
		function showLoading() {
			var x = document.getElementById("loading");
			var form = document.getElementById("form");
			if (form["opis"].value != "" && form["tytul"].value != "") {					
				x.style.opacity = "100%";
				x.style.display="block"
				x.style.visibility = "visible";
			}
		}
	</script>
<div id="new_post" style="visibility:hidden;">
	<i id="close" onclick="showForm()"class="fas fa-times-circle"></i>
	<form method="POST" action="" enctype="multipart/form-data" id="form">
		{% csrf_token %}
		<label form=form.tytul>Tytuł: </label><br>
		{{form.tytul}}
		<label form=form.opis>Opis: </label><br>
		{{form.opis}}
		<div id="bottom_inf">
			<label id="button_picture" for="id_picture">Wybierz zdjęcie</label>
			{{form.picture}}
			{{form.category}}
			<input id="dodaj" type="submit" value="Dodaj post" onclick="showLoading()">
			
			<img id="loading" alt="loading icon" src = "{% static 'loading.svg' %}"/>
		</div>
	</form>
</div>