/* navbar */
#navbar {
	grid-area: sidebar;
	z-index: 2;
	background-color: var(--main);
	box-shadow: 0.1vw 0 1.7vw #000000;
	transition: width 1s;
	height:100vh;
}

/* navbar view */
#username_id {
	color: var(--sec1);
	font-size:100%;
	text-transform: capitalize;
	word-break:break-all;
}

#hello {
	text-align:center;
	font-size:125%;
	width: auto;
	height:auto;
	margin-top: 6vh;
	color: var(--sec2);
}

#logo {
	width: 15vmin;
	height: 15vmin;
	margin: auto;
	transition: filter 0.3s;
	margin-top: 15vh;
	filter: drop-shadow(0 0.7vw 0.7vw #000000);
}

#logo:hover {
	filter: drop-shadow(0 0vw 2vw #ffffff);
}

#logo_photo {
	width: 100%;
	height: 100%;
}

.nav {
	width: 90%;
	height:6vh;
	margin-top: 2vh;
	background-color: var(--sec1);
	color: var(--main);
	font-size: 100%;
	text-align: center;
	transition:width 0.2s, font-size 0.2s;
	cursor: pointer;
	box-shadow: 1vmin 1vmin 2vmin #000000;
}

.nav>i {
	padding: 0.5vmin;
	font-size:100%;
}

.nav>a {
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	color: var(--text_color);
}

.nav:hover {
	width: 100%;
	font-size: 160%;
}

/* side menu 4 phone */
#side-menu-trigger {
	opacity: 0;
	position: fixed;
}

/* telki */
@media screen and (max-width:540px) and (orientation: portrait){
	#navbar {
		position:fixed;
		left: -120vw;
		transition: left 1s ease-in-out;
		width: 100vw;
	}
	#logo {
		width: 15.75vw;
		height: 15.75vw;
	}
	.nav {
		height: 6vh;
	}
	#side-menu-trigger {
		opacity: 100;
		border: none;
		border-radius: 50%;
		z-index: 3;
		left: 3vw;
		top: 50vh;
		bottom:0;
		font-size: 4vmin;
		filter: drop-shadow(2vmin 1vmin 2vmin #000000);
		text-align:center;
		width: 15vmin;
		height: 15vmin;
		transition: opacity 1s;
		background-color: var(--main);
		color: var(--sec1);
	}
	#side-menu-trigger:focus+#navbar {
		left: 0px;
	}
	#side-menu-trigger:focus {
		opacity: 0;
	}
}