#navbar {
	height:100vh;
	grid-area: sidebar;
	z-index: 2;
	background-color: var(--main);
	box-shadow: 0.1vw 0 1.7vw #000000;
	transition: width 1s;
	overflow-y:auto;
}

#logo_photo {
	display:block;
	width: 15vmin;
	height: 15vmin;
	margin: auto;
	margin-top: 15vh;
	cursor:pointer;
	animation: zmiana-strony-logo 0.9s both;
	
}
#logo_photo:hover{filter:invert(33%) sepia(54%) saturate(2738%) hue-rotate(338deg)  brightness(83%) contrast(100%) drop-shadow(0.4vw 0.4vw 0.1vw #000000);}

#hello {
	width: auto;
	height:auto;
	margin-top: 6vh;
	text-align:center;
	font-size:125%;
	color: var(--sec2);
}

#username_id {
	color: var(--sec1);
	font-size:100%;
	text-transform: capitalize;
	word-break:break-all;
}

#menu{margin-bottom:7vmin;}

.nav {
	display:flex;
	width: 90%;
	height:6vh;
	margin-top: 2vh;
	align-items: center;
	justify-content: center;
	background-color: var(--sec1);
	color: var(--main);
	font-size: 100%;
	cursor: pointer;
	box-shadow: 1vmin 1vmin 2vmin #000000;
	transition:0.2s;
}

.nav>i {
	padding: 0.5vmin;
	font-size:100%;
}

.nav:hover {
	width: 100%;
	font-size: 160%;
}

#side-menu-trigger {
    display:none;
	opacity: 0;
	position: fixed;
}
/* animacja loga */
@keyframes  zmiana-strony-logo{
  0% {
            transform: scale3d(1, 1, 1);
  }
  30% {
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
            transform: scale3d(1, 1, 1);
  }
}

/* telefony */
@media screen and (max-width:540px){
	#navbar {
		position:fixed;
		width: 100vw;
		left: -120vw;
		transition: left 1s ease-in-out;
	}
	#logo_photo {
		width: 25vw;
		height: 25vw;
	}
	.nav {
		height: 6vh;
	}
	/* przycisk */
	#side-menu-trigger {
	    display:inline-block;
		top: 50vh;
		left: 3vw;
		width:30px;
		height:30px;
		z-index: 3;
		color: var(--main);
		opacity: 100;
		border:none;
		background:none;
		transition: left 1s ease-in-out;
	}
	#side-menu-trigger:focus+#navbar {left: 0px;}
	#side-menu-trigger>i{font-size: 33px;}
	#side-menu-trigger:focus {left: 100vw;}
}