#new_post{
	position:fixed;
	transition: cubic-bezier(0, 0, 1, 1) 0.5s;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background: var(--main);
	padding:3vw;
	opacity:0;
	width:40vw;
	border-radius:1vmax;
	box-shadow: 0.7vw 0.7vw 3vw 1vw;
	z-index:10;
}
form *{color:var(--sec2);border:none;}
form input, textarea, select{background:#303030;box-shadow: 0.5vmin 0.5vmin 1vmin 0.5vmin rgba(0,0,0,0.8);}
form label{color:var(--sec1);}

#bottom_inf{margin-top:4vh;}
#bottom_inf *{margin-top:2vh;}
#id_picture{visibility:hidden;width:0;}
#button_picture{background-color:#303030;padding:1.5vmin;border-radius:1vmin;cursor:pointer;box-shadow: 0.5vmin 0.5vmin 1vmin 0.5vmin rgba(0,0,0,0.8);}
#dodaj{border:none;cursor:pointer;}
#addnew {
	margin-top:2vh;
	border-radius:1vw;
	border:none;
	background: var(--main);
	color: var(--sec1);
	display:block;
	margin-left:50%;
	transform: translate(-50%,0);
	width:27%;
	font-size:85%;
	height:6vh;
	transition: 0.2s;
	cursor: pointer;
}
#addnew:hover {width:35%;}

#close{position:fixed;cursor: pointer;right:1vw;top:1vh;color:var(--sec1);transition:1s;}
#close:hover{transform: rotate(180deg);}
#id_tytul{
	display:block;
	width:40vw;
	height:5vh;
	border-radius:1vw;
}
#id_opis{
	text-align: justify;
	width: 40vw;
	height:30vh;
	border-radius:1vw;
	display:block;
}

#additional{font-size:2vmin;}

@media (max-width:540px) and (orientation: portrait) {
	#id_tytul{width:70vw;}
	#id_opis{width:70vw;}
	#new_post .label{margin-top: 3vh;}
	#new_post{width:70vw;}
}