/* posty obszar */
#posts {
    display: grid;
    margin: 0 6vw;
	margin-bottom:2vh;
    padding-top: 3vw;
    grid-template-columns: repeat(auto-fill, minmax(40vh, auto));
    grid-auto-rows: auto;
    font-family: sans-serif;
}

/* post */
#posts * {box-sizing: border-box;}

.post {
	margin-left:1vw;
	margin-right:1vw;
	margin-top:4vh;
	border-radius: 2vh;
	background-color: #dedede;
	color: var(--text_color);
	box-shadow: 0.7vw 0.7vw 0.5vw 0;
	transition-property: transform, box-shadow;
	transition:  0.5s;
	cursor:pointer;
}

.post:hover {
	transform: scale(1.05);
	box-shadow: 1vw 1vw 0.75vw 0 #303030;
}

/* zdjecie, tytul, kategoria */
#photo >img {
    display: block;
	width: 100%;
    height: 20vh;
    object-fit: cover;
 	border-radius: 2vh 2vh 0 0;
}
#title{
	margin:0;
	height:8vh;
	word-break:break-word;
	font-size:115%;
	text-align:center;
	overflow-y:auto;
	user-select: text;
}
#content {
	height:25vh;
	margin:0;
    padding: 10%;
	overflow-y: auto;
	font-size:80%;
	background: #fafafa;
	overflow-x:hidden;
	word-break: break-word;
	user-select: text;
}
#category {color: var(--sec1);font-size:85%;}

/* opis */
#description *{display:inline-block;}
#description {
    padding:10%;
	padding-top:5%;
	padding-bottom:5%;
    align-items: center;
    color: #555555;
	border-radius: 0.7vw;
	text-align:center;

}
a{text-decoration:none; }
#author{color:var(--sec1);word-break: break-all;user-select: text;margin:0;margin-right:1vmin;}

#delete{color:var(--main);margin:0;transition:0.5s;}
#delete:hover{color: var(--sec1)}
#date{margin-right:1vmin;margin:0;}

@media (max-width:720px) {
	#posts{grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));}
}
@media (max-width:540px) {
	/* vh --> px 1vh ~ 6px, 1vw ~ 3px*/
	#posts {margin-bottom:12px;padding-top: 9px;}
	.post {margin-top:24px;border-radius: 12px;}
	#photo >img {height: 120px;border-radius: 12px 12px 0 0;}
	#title{height:48px;}
	#content {height:150px;}
	.post {margin-left:2vw;margin-right:2vw;}
}
