{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Twórcy / Hobbyist.pl</title>
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body %}
	<main>
        <p id="title_inf">O twórcach</p>
        <p id="everyone">
            Stronę <a href="{% url 'MeetMe!' %}">hobbyist.pl</a> tworzy pięcioosobowa grupa licealistów z Krakowa
			w ramach projektu "Zwolnieni z Teorii". Celem grupy było stworzenie strony internetowej która,
			pomoże poznać ludzi o podobnych zainteresowaniach.<br> Aby stworzyć stronę konieczne było:
        </p>
        <div class="information">
            <p class="inf_text">
                Zaprojektowanie designu strony (wybór kolorów, rozmieszczenie elementów) w wersji mobilnej i desktopowej.
				Zaprojektowanie logo (zarówno 3d jak i 2d) oraz baneru na facebooku. 
            </p>
            <img class="inf_img" src="{% static 'img/awatar5.svg' %}">
        </div>
        <div class="information">
            <img class="inf_img" src="{% static 'img/awatar4.svg' %}">
            <p class="inf_text">
				Stworzenie responsywnej strony - frontend oraz backend.
				Stworzenie logo naszej strony (zarówno 3d jak i 2d) oraz baneru na facebooku. Podpięcie google analytics pod stronę żeby można było śledzić aktywność
				i liczbę użytkowników. Stworzenie bota na messengerze.
            </p>
        </div>
        <div class="information">
            <p class="inf_text">
				Znalezienie partnerów instytucjonalnych - kontaktowanie się z fundacjami, instytucjami, stowarzyszeniami i firmami powiązanych z tematem naszej strony. 
				Stały kontakt, wzajemna pomoc.
            </p>
            <img class="inf_img" src="{% static 'img/awatar3.svg' %}">
        </div>
                <div class="information">
            <img class="inf_img" src="{% static 'img/awatar2.svg' %}">
            <p class="inf_text">
				Prowadzenie naszych mediów społecznościowych (<a target="_blank" href="https://www.facebook.com/Hobbyistpl-104174094878098">nasza strona na facebooku</a>):
				tworzenie postów, konfiguracja strony np: opis, informacje kontakt. Znalezienie partnerów medialnych - kontaktowanie się z osobami publicznymi, promocja naszej strony.
            </p>
        </div>
        <div class="information">
            <p class="inf_text">
				Nadzór projektu. Monitorowanie dat poszczególnych etapów. Przydzielanie ról. Kontakt z mentorem. Ułożenie tekstu na stronie oraz w opisie projektu.
            </p>
            <img class="inf_img" src="{% static 'img/awatar1.svg' %}">
        </div>
	</main>
	{% include "navbar.html"%}
{% endblock %}