{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Twórcy</title>
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body %}
	<main>
        <p id="title_inf">O twórcach</p>
        <p id="everyone">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
            Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
            interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
        </p>
        <div class="information">
            <p class="inf_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
                Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
                interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
                Ut pulvinar leo sed dui molestie malesuada. Sed sagittis sodales ante, non finibus leo sagittis eget.
                Morbi sollicitudin at nunc quis porta. Praesent convallis venenatis massa at dignissim.
                Sed luctus at turpis sit amet aliquam. Donec finibus velit ut mattis efficitur.
                Nulla sodales ipsum condimentum diam suscipit hendrerit. Donec sit amet malesuada orci.
                Ut dapibus sem dictum turpis gravida faucibus.
                Maecenas porta semper urna. Nam dictum lacinia lacus a consequat.
            </p>
            <img class="inf_img" src="{% static 'logo.png' %}">
        </div>
        <div class="information">
            <img class="inf_img" src="{% static 'logo.png' %}">
            <p class="inf_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
                Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
                interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
                Ut pulvinar leo sed dui molestie malesuada. Sed sagittis sodales ante, non finibus leo sagittis eget.
                Morbi sollicitudin at nunc quis porta. Praesent convallis venenatis massa at dignissim.
                Sed luctus at turpis sit amet aliquam. Donec finibus velit ut mattis efficitur.
                Nulla sodales ipsum condimentum diam suscipit hendrerit. Donec sit amet malesuada orci.
                Ut dapibus sem dictum turpis gravida faucibus.
                Maecenas porta semper urna. Nam dictum lacinia lacus a consequat.
            </p>
        </div>
        <div class="information">
            <p class="inf_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
                Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
                interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
                Ut pulvinar leo sed dui molestie malesuada. Sed sagittis sodales ante, non finibus leo sagittis eget.
                Morbi sollicitudin at nunc quis porta. Praesent convallis venenatis massa at dignissim.
                Sed luctus at turpis sit amet aliquam. Donec finibus velit ut mattis efficitur.
                Nulla sodales ipsum condimentum diam suscipit hendrerit. Donec sit amet malesuada orci.
                Ut dapibus sem dictum turpis gravida faucibus.
                Maecenas porta semper urna. Nam dictum lacinia lacus a consequat.
            </p>
            <img class="inf_img" src="{% static 'logo.png' %}">
        </div>
                <div class="information">
            <img class="inf_img" src="{% static 'logo.png' %}">
            <p class="inf_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
                Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
                interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
                Ut pulvinar leo sed dui molestie malesuada. Sed sagittis sodales ante, non finibus leo sagittis eget.
                Morbi sollicitudin at nunc quis porta. Praesent convallis venenatis massa at dignissim.
                Sed luctus at turpis sit amet aliquam. Donec finibus velit ut mattis efficitur.
                Nulla sodales ipsum condimentum diam suscipit hendrerit. Donec sit amet malesuada orci.
                Ut dapibus sem dictum turpis gravida faucibus.
                Maecenas porta semper urna. Nam dictum lacinia lacus a consequat.
            </p>
        </div>
        <div class="information">
            <p class="inf_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc at cursus eros. Nullam euismod justo vitae mauris elementum, dapibus mattis orci congue.
                Fusce ac tincidunt massa, ut consectetur lorem. Nullam lectus risus, aliquet at ipsum id,
                interdum sollicitudin sapien. Nam ligula diam, efficitur eget arcu id, luctus elementum tortor.
                Ut pulvinar leo sed dui molestie malesuada. Sed sagittis sodales ante, non finibus leo sagittis eget.
                Morbi sollicitudin at nunc quis porta. Praesent convallis venenatis massa at dignissim.
                Sed luctus at turpis sit amet aliquam. Donec finibus velit ut mattis efficitur.
                Nulla sodales ipsum condimentum diam suscipit hendrerit. Donec sit amet malesuada orci.
                Ut dapibus sem dictum turpis gravida faucibus.
                Maecenas porta semper urna. Nam dictum lacinia lacus a consequat.
            </p>
            <img class="inf_img" src="{% static 'logo.png' %}">
        </div>
	</main>
	{% include "navbar.html"%}
{% endblock %}