{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Informacje i Regulamin</title>
	<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock %}
{% block body %}
	<main>
		<div id="info_main">
			<img id="main_img" alt="Strona" src="{% static 'zzt.png' %}"/>
			<div id="main_title">Jaki jest cel naszej strony?</div>
			<p>
				Nauka oraz rozwijanie swojego hobby jest znacznie prostsze z ludźmi o takiej samej pasji.
				Jednak znalezienie ich jest trudne. Dlatego postanowiliśmy stworzyć stronę <a href="{% url 'MeetMe!' %}">hobbyist.pl</a>.
				Nasz portal ma jeden cel: chce umożliwić wszystkim kontakt z innymi osobami z okolicy, które mają podobne zainteresowania.
			</p>
		</div>
		<div id="info_blocks">
			<div class="info_block">
				<img class="info_img" alt="Zwolnieni Z Teorii" src="{% static 'logo.png' %}"/>
				<div class="sec_titles">O zwolnionych z teorii</div>
				<p>
					Nasza strona została tworzona w ramach projektu Zwolnieni Z Teorii. Co to znaczy?
					"Zwolnieni Z Teorii" to platforma gdzie w ramach tworzenia projektu społecznego,
					technologicznego, reklamy społecznej lub np wydarzenia społecznego bierze się
					udział w konkursie. Każdy kto spełni podane wymagania ma szanse na udział w elminacji
					na nagrodę "Złotego wilka" za najlepszy projekt w danej kategorii i formacie.
				</p>
			</div>

			<div class="info_block">
				<img class="info_img" alt="O autorach" src="{% static 'logo.png' %}"/>
				<div class="sec_titles">O autorach</div>
				<p>
					Hobbyist.pl to strona którą tworzy pięcio osobowa grupa młodych licealistów.
					Więcej możecie dowiedzieć się w zakładce <a href = "{% url 'MeetMe!' %}">O Nas</a>.
				</p>
			</div>

			<div class="info_block">
				<img class="info_img" alt="Pomoc" src="{% static 'logo.png' %}"/>
				<div class="sec_titles">Jak możecie nam pomóc?</div>
				<p>
					Właściwie wystarczy że tu jesteście każdy beneficjent czyli użytkownik naszej strony przyczynia się
					do tego byśmy wygrali. Jeśli jednak chcielibyście nam pomóc w inny sposób możecie jeszcze polubić
					nasze socjale np: <a target="_blank" href="https://www.facebook.com/Hobbyistpl-104174094878098">Facebooka</a>.
					Jeśli jesteście popularni lub macie dojścia do popularnych osób możecie nam o tym napisać ponieważ
					jednym z warunków wygrania konkursu jest odpowiednia ilość wzmianek medialnych np w formie postów na facebooku
					lub krótkiej informacji o naszej stronie na filmiku na youtubie. Informacje o tym jak się z nami skontaktować
					uzyskacie w zakładce <a href="{% url 'MeetMe!' %}">Kontakt</a>.
				</p>
			</div>
			<div class="info_block">
				<img class="info_img" alt="Regulamin" src="{% static 'logo.png' %}"/>
				<div class="sec_titles">Regulamin użytkowania strony <a href="{% url 'MeetMe!' %}">www.hobbyist.pl</a></div>
				<p>
					Definicje
					•	Administrator – podmiot świadczący usługę udostępnienia zasobów Serwisu na rzecz Użytkowników Serwisu. Administratorem jest Bartłomiej Król Kraków kontakt: barteksp82@gmail.com, hobbyistpl@gmail.com.
					•	Serwis – portal internetowy, społecznościowy, dostępny pod adresem internetowym www.hobbyist.pl
					•	Użytkownik Serwisu, zwany dalej w regulaminie Użytkownikiem – osoba fizyczna, która korzysta z Serwisu
					•	Konto – dostępne dla Użytkownika miejsce w Serwisie, za pośrednictwem którego wprowadza on dane i zarządza nimi.
					•	Profil – strona Użytkownika Serwisu zawierająca dane oraz zdjęcia udostępnione przez niego dobrowolnie w Serwisie, z którymi mogą się zapoznać inni Użytkownicy Serwisu, jak również które może wykorzystywać Administrator na warunkach określonych w niniejszym Regulaminie.
					•	Regulamin portalu społecznościowego, zwany dalej Regulaminem – spis warunków, jakim muszą się podporządkować Użytkownicy Serwisu korzystający z Serwisu. Zalogowanie się do Serwisu jest jednoznaczne z akceptacją Regulaminu.
					•	Usługi – usługi świadczone drogą elektroniczną przez Administratora na rzecz Użytkowników Serwisu w oparciu o Regulamin. Usługi mogą być bezpłatne lub płatne.
					II Warunki korzystania z serwisu
					1. Serwis służy do nawiązywania kontaktów i prowadzenia swoich Profili zgodnie z założeniami Użytkowników Serwisu, ograniczonymi możliwościami udostępnianymi przez Serwis.

					2. Serwis nie ponosi odpowiedzialności za treść merytoryczną wypowiedzi Uczestników Serwisu.

					3. Utworzenie Konta w Serwisie jest dobrowolne i bezpłatne oraz oznacza akceptację niniejszego Regulaminu.

					4. Procedura rejestracji oraz utworzenie Konta następuje poprzez wypełnienie formularza znajdującego się na stronach Serwisu.

					5. Umowa o świadczeniu usług drogą elektroniczną zostaje zawarta z chwilą rejestracji, na czas nieokreślony.

					6. Akceptacja Regulaminu przez Użytkownika Serwisu jest równoznaczna ze złożeniem oświadczeń następujących treści:
					•	zapoznałem się z Regulaminem i akceptuję wszystkie jego postanowienia
					•	dobrowolnie przystąpiłem do korzystania z usług Serwisu
					•	dane odnośnie adresu email oraz adresów do profili na innych mediach społeczności zawarte w formularzu rejestracyjnym oraz na Koncie są zgodne z prawdą
					•	wyrażam zgodę na przetwarzanie moich danych osobowych przez Administratora, przekazywanych w formularzu rejestracyjnym, dla celów należytego wykonania umowy o świadczeniu usług drogą elektroniczną .
					•	zezwalam na wykorzystywanie mojego wizerunku umieszczonego w Serwisie dla celów świadczenia przez Administratora usług w Serwisie, jak również oświadczam, iż osoby, których wizerunek umieściłem w Serwisie udzieliły takiego zezwolenia
					8. W momencie rejestracji Użytkownik wyraża zgodę na umieszczenie i przetwarzanie jego danych osobowych przez Administratora.

					9. Zabrania się Użytkownikowi reklamowania w jakiejkolwiek formie portali internetowych, forum internetowych, stron WWW oraz firm niepowiązanych z działalnością strony.

					10. Administrator nie redaguje wypowiedzi prezentowanych w Serwisie, ale zastrzega sobie prawo do usuwania wypowiedzi (w całości lub w części) i/lub zablokowania dostępu do Serwisu Użytkownikowi w przypadkach, gdy:
					•	wypowiedzi naruszają prawo prasowe
					•	wypowiedzi naruszają dobra osobiste, dobre obyczaje, zawierają treści wulgarne lub obraźliwe,
					•	wypowiedzi zawierają linki do zewnętrznych stron www,
					•	Uczestnik Serwisu zamieszcza reklamy bądź inne materiały lub ogłoszenia o charakterze komercyjnym, również w informacjach odnośnie konta w formie : adresu Email, nazwy użytkownika, imienia, nazwiska, linków do innych portali społecznościowych.
					•	Uczestnik Serwisu narusza regulamin i nie stosuje się do uwag Administratora
					11. Administrator ma prawo do wykorzystywania treści, zamieszczonych przez Uczestników Serwisu, w swoich publikacjach na stronach Serwisu i w publikacjach reklamujących Serwis na innych stronach www. Uczestnik Serwisu, którego zamieszczona treść została wykorzystana, nie pobiera z tego tytułu wynagrodzenia.

					12. Zabrania się wykorzystywania Serwisu w sposób sprzeczny lub niewłaściwy z jego celem społecznościowym. Niedozwolone jest w szczególności umieszczanie treści i zdjęć o charakterze erotycznym czy pornograficznym, naruszających zarówno normy prawne, moralne, obrazujących lub propagujących przemoc, nienawiść, dyskryminację (rasową, kulturową, etniczną, religijną lub filozoficzną itp.), naruszających dobra osobiste lub obrażających godność innych osób.

					13. Zabrania się również rozsyłania spamu.

					14. Administrator zastrzega sobie prawo do usuwania Kont Użytkowników Serwisu, którzy łamią punkty niniejszego Regulaminu.
					III Usługi oferowane w Serwisie
					1. Administrator oferuje bezpłatne Użytkownikom Serwisu.

					2. Usługi bezpłatne dotyczą w szczególności:
					•	założenia, prowadzenia i zarządzania Profilem, w tym dodawanie zdjęć
					•	aktywności na Stronie
					•	komentowania aktywności i nawiązywanie znajomości w ramach Serwisu z innymi Użytkownikami
					IV Prawa Użytkownika
					1. Każdy użytkownik Serwisu ma możliwość i prawo:
					•	do samodzielnego poprawienia danych osobowych gdy są one błędne, uległy zmianie lub zdezaktualizowały się. Zmiana danych we własnym profilu na Serwisie.
					•	posiada Prawo do częściowego lub całkowitego usunięcia danych („prawo do bycia zapomnianym”) – czyli usunięcia danych, które przetwarzane są bez uzasadnionych podstaw prawnych, w szczególności poprzez usuniecie danych z Serwisu lub zlikwidowanie konta.
					2. Zakres tych praw oraz sytuacje kiedy można z nich korzystać, uzależnione są od przepisów prawa. Prawo do sprzeciwu – Użytkownik może w dowolnym momencie wnieść sprzeciw wobec przetwarzania danych:
					•	na potrzeby marketingu bezpośredniego. Zaprzestaniemy przetwarzania danych użytkownika w tym celu.
					•	w szczególnych sytuacjach, jeśli przetwarzamy je w prawnie uzasadnionym interesie lub interesie publicznym. Zaprzestaniemy przetwarzania danych w tych celach, o ile nie będą istniały inne, przeważające prawnie uzasadnione podstawy przetwarzania.
					3. Prawo do wycofania zgody – Użytkownik może w dowolnej chwili wycofać każdą zgodę, którą wyraził. Od złożenia takiej dyspozycji nie będziemy już przetwarzać danych we wskazanym przez Użytkownika celu. Do czasu wycofania zgody przez Użytkownika mamy prawo przetwarzać jego dane.
					V Postanowienia końcowe
					1. Administrator zastrzega sobie prawo do jednostronnej zmiany postanowień Regulaminu w każdej chwili i bez konieczności uzasadniania przyczyny. Regulamin jest dostępny na stronie hobbyist.pl/info w kafelku odnośnie regulaminu. O fakcie zmian użytkownik zostanie powiadomiony poprzez post na głównej stronie napisany przez Administratora strony.
				</p>
			</div>
		</div>

	</main>
	{% include "navbar.html"%}
{% endblock %}