{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Informacje i Regulamin</title>
	<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock %}
{% block body %}
	<main>
		<div id="info_main">
			<img id="main_img" alt="Strona" src="{% static 'zzt.png' %}"/>
			<div id="main_title">Jaki jest cel naszej strony?</div>
			<p>
				Nauka oraz rozwijanie swojego hobby jest znacznie prostsze z ludźmi o takiej samej pasji.
				Jednak znalezienie ich jest trudne. Dlatego postanowiliśmy stworzyć stronę <a href="{% url 'MeetMe!' %}">hobbyist.pl</a>.
				Nasz portal ma jeden cel: chce umożliwić wszystkim kontakt z innymi osobami z okolicy, które mają podobne zainteresowania.
			</p>
		</div>
		<div id="info_blocks">
			<div class="info_block">
				<div class="sec_titles">O zwolnionych z teorii</div>
				<p>
					Nasza strona została tworzona w ramach projektu Zwolnieni Z Teorii. Co to znaczy?
					"Zwolnieni Z Teorii" to platforma gdzie w ramach tworzenia projektu społecznego,
					technologicznego, reklamy społecznej lub np wydarzenia społecznego bierze się
					udział w konkursie. Każdy kto spełni podane wymagania ma szanse na udział w elminacji
					na nagrodę "Złotego wilka" za najlepszy projekt w danej kategorii i formacie.
				</p>
			</div>

			<div class="info_block">
				<div class="sec_titles">O autorach</div>
				<p>
					Hobbyist.pl to strona którą tworzy pięcio osobowa grupa młodych licealistów.
					Więcej możecie dowiedzieć się w zakładce <a href = "{% url 'o_tworcach' %}">O Nas</a>.
				</p>
			</div>

			<div class="info_block">
				<div class="sec_titles">Jak możecie nam pomóc?</div>
				<p>
					Właściwie wystarczy że tu jesteście każdy beneficjent czyli użytkownik naszej strony przyczynia się
					do tego byśmy wygrali. Jeśli jednak chcielibyście nam pomóc w inny sposób możecie jeszcze polubić
					nasze socjale np: <a target="_blank" href="https://www.facebook.com/Hobbyistpl-104174094878098">Facebooka</a>.
					Jeśli jesteście popularni lub macie dojścia do popularnych osób możecie nam o tym napisać ponieważ
					jednym z warunków wygrania konkursu jest odpowiednia ilość wzmianek medialnych np w formie postów na facebooku
					lub krótkiej informacji o naszej stronie na filmiku na youtubie. Informacje o tym jak się z nami skontaktować
					uzyskacie w zakładce <a href="{% url 'kontakt' %}">Kontakt</a>.
				</p>
			</div>
			<div class="info_block">
				<div class="sec_titles">Proces tworzenia strony.</div>
				<p>
					Stronę zarówno frontend jak i backend stworzył w pełni jeden z członków naszej grupy.
					Do stworzenia całego backendu użyliśmy Django - Python <i class="fab fa-python"></i>.
					
				</p>
			</div>
			<div class="info_block">
				<div class="sec_titles">Regulamin użytkowania strony <a href="{% url 'MeetMe!' %}">www.hobbyist.pl</a></div>
				<p>
					<a target="_blank" href="http://www.hobbyist.pl/static/regulamin.pdf">Regulamin użytkowania</a> dostępny jest tutaj.
				</p>
			</div>
		</div>

	</main>
	{% include "navbar.html"%}
{% endblock %}