{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Informacje i Regulamin</title>
	<link rel="stylesheet" href="{% static 'css/kontakt.css' %}">
{% endblock %}
{% block body %}
	<main>
		<p id="main_text">
			Jeśli masz jakiejś propozycje na ulepszenie naszej strony, chcesz zgłosić jakiś błąd, pomóc nam w konkursie
			lub chcesz się o cokolwiek zapytać to zapraszamy do kontaktu.
		</p>
		<div>
			<form method="POST" action="">
				{% csrf_token %}
				<p class="text">
					Możesz do tego użyć tego formularza, wiadomość dostaniemy mailem.
				</p>
				{{form.title_email}}
				{{form.opis}}
				<input id="wyslij" type="submit" value="Wyślij wiadomość">
				<p class="text">Nie musisz podawać maila, dostaniemy wiadomość z przygotowanego przez nas. Z informacją o autorze.</p>
			</form>
			<span>
				<p class="text">Lub napisz do nas na facebooku.</p>
				<iframe id="fb" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHobbyistpl-104174094878098%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
			</span>
		</div>
	</main>
	{% include "navbar.html"%}
{% endblock %}