{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Logowanie</title>
	<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
{% endblock %}
{% block body %}
		<img id="zdj"src="/static/img/3dlogo.png"/>
		<div class="login">
			<form method="POST" action="">
				{% csrf_token %}
				
				<img id="anim_logo"src="{% static 'img/hobbyist_anim.svg' %}"/>
				<input type="name" id="username" name="username"><br>
				<label for="name">Nazwa użytkownika</label><br>
				<input type="password" id="password" name="password"><br>
				<label for="password">Hasło</label><br>
				{% for message in messages %}
						<li id="messages">{{ message | safe }}</li>
				{% endfor %}
				{{form.errors}}
				<p>Nie masz jeszcze konta? <a href="{% url 'Rejestracja' %}"data-content="Zarejestruj się tutaj!">Zarejestruj się tutaj!</a></p>
				<input type="submit" id="accept" name="Create User" value="Zaloguj">

				<p>Korzystając z naszej strony jednocześnie wyrażasz zgode na regulamin użytkowania.
				Prosimy o nie podawanie prawdziwego nazwiska, używanie pseudonimu.</p>
			</form>
		</div>
{% endblock %}
