{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Logowanie</title>
	<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
{% endblock %}
{% block body %}
		<div class="login">
			<form method="POST" action="">
				{% csrf_token %}
				<input type="name" id="username" name="username"><br>
				<label for="name">Nazwa użytkownika</label><br>
				<input type="password" id="password" name="password"><br>
				<label for="password">Hasło</label><br>
				{% for message in messages %}
					{% if message.tags == "success" %}
						<p id="messages">{{ message | safe }}</p>
					{% endif %}
				{% endfor %}
				{{form.errors}}
				<p>Nie masz jeszcze konta? <a href="{% url 'Rejestracja' %}"data-content="Zarejestruj się tutaj!">Zarejestruj się tutaj!</a></p>
				<input type="submit" id="accept" name="Create User" value="Zaloguj">
			</form>
		</div>
		<div class="description">
		<p>Korzystając z naszej strony jednocześnie wyrażasz zgode na regulamin użytkowania. 
		Prosimy o nie podawanie prawdziwego nazwiska, używanie pseudonimu.</p></div>
{% endblock %}