{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Rejestracja / Hobbyist.pl</title>
	<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
{% endblock %}
{% block body %}
	<img id="zdj"src="/static/img/3dlogo.png"/>
		<div class="login">
			<form method="POST" action="" >
				{% csrf_token %}
					<img id="anim_logo"src="{% static 'img/hobbyist_anim.svg' %}"/>
					
					{{form.username}}
					<label data-content="Nazwa użytkownika" form=form.username>Nazwa użytkownika*</label><br>
					{{form.username.errors}}
					
					{{form.email}}
					<label data-content="Email"form=form.email>Email</label><br>
					{{form.email.errors}}
					
					{{form.password1}}
					<label data-content="Hasło"form=form.password1>Hasło*</label><br>
					{{form.password1.errors}}
					
					{{form.password2}}
					<label data-content="Powtórz hasło"form=form.password2>Powtórz hasło*</label><br>
					{{form.password2.errors}}
					
					{{profile_form.place}}
					<label data-content="Wpisz swój kod pocztowy lub najbliższe miasto"form=profile_form.place>Wpisz swój kod pocztowy lub miejscowość</label><br>
					
			  	<p>Masz już konto? <a href="{% url 'Logowanie' %}"data-content="Zaloguj się tutaj!">Zaloguj się tutaj!</a></p>
			  	<input type="submit" id="accept" name="Create User" value="Stwórz konto">
				<p>Korzystając z naszej strony jednocześnie wyrażasz zgode na <a target="_blank" href="http://www.hobbyist.pl/static/regulamin.pdf"> regulamin użytkowania</a>.
				Prosimy o nie podawanie prawdziwego nazwiska, używanie pseudonimu.</p>
			</form>
		</div>
{% endblock %}
