{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Post {{post.id}}</title>
	<link rel="stylesheet" href="{% static 'css/singlepost.css' %}">
{% endblock %}
{% block body %}
		  <div id="post_content">
			<div id="image">
				<img
					{% if post.picture %}
						src="{{ post.picture.url }}"
					{% else %} 
						src = "{% static 'zzt.png' %}"
					{% endif %}alt="Brak zdjęcia"
				></img>
			</div>
			<p id="tytul">{{post.tytul}}</p>
			<div id="information">
				<i class="far fa-user"></i><a id="autor" href="{% url 'Profil' post.autor.id %}">{{post.autor}}</a><p id="data"><i class="far fa-clock"></i>{{post.data}}
				{% if post.autor.id == request.user.id %}
					<a href="{% url 'delete_post' post.pk %}"><i id="delete"class="fas fa-trash-alt"></i></a>
				{% endif %}
				</p>
			</div>
			<p id="opis">{{post.opis}}</p>
			<form method="POST" action="">
				{% csrf_token %}
				<div id="add_comment">
					<input id="dodaj" type="submit" value="Dodaj swój komentarz">
					{{form.content}}
				</div>
			</form>
			
			<div id="comments">
				{% for comment in comments %}
					<div class="comment">
						<img id="profile_pic"
							{% if comment.autor.userprofile.profile_pic %}
								src={{comment.autor.userprofile.profile_pic.url}} 
							{% else %}
								src = "{% static 'logo.png' %}"
							{% endif %}
							alt="brak zdjęcia">
						</img>
						
						<span id="content">
							<i class="far fa-user"></i>
							<span id="autor" onclick="location.href='{% url 'Profil' comment.autor.id %}'">{{comment.autor.username}}</span>
							
							<p id="date"><i class="far fa-clock"></i>{{comment.date}}</p><br>{{comment.content}}
						</span>
					</div>
				{% endfor %}
			</div>
		  </div>
		  {% include "navbar.html"%}
{% endblock %}