{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Profil</title>
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body %}
	<div id="profile">
		<div id="contact">
			<ul class="social-media-list">
				<li><a href="https://www.facebook.com/BK.K40L"><img src="https://unpkg.com/simple-icons@latest/icons/facebook.svg" alt="Facebook" title="Facebook"></a>
				<li><a href="https://twitter.com/BK2077"><img src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" alt="Twitter" title="Twitter"></a>
				<li><a href="https://www.instagram.com/bartek.krol.1/"><img src="https://unpkg.com/simple-icons@latest/icons/instagram.svg" alt="Instagram" title="Instagram"></a></li>
				<li><a href=""><img src="https://unpkg.com/simple-icons@latest/icons/gmail.svg" alt="Gmail" title="Gmail"></a>
			</ul>
		</div>
		<div id="view">
			<img id="profile_photo" src="{% static 'logo.png' %}" alt="error"><span>{{ profile_user.first_name }} {{ profile_user.last_name }} ({{profile_user.username}})</span></img>
		</div>
		<div id="info">
			<ul>
				<li>Punkty: 29392xp</li>
				<li>Założenie konta: {{profile_user.date_joined.date}}</li>
				<li>Napisane posty: {{post_numbers}}</li>
				<li>Poziom: 20lvl</li>
			</ul>
		</div>
	</div>
	<main>{% include "post.html"%}</main>
	{% include "navbar.html"%}
{% endblock %}