{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
	<title>Rejestracja</title>
	<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKRy-LRz3oOo--r3J64tnDZ-u8ZaEAbJ4&maps&map_ids=9a0af9b336dcea1f&callback=initMap"
		type="text/javascript">
	</script>
	<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block body %}
		<div class="mapa"><div id="map"></div></div>
		<div class="login">
			<form method="POST" action="" >
				{% csrf_token %}

					{{profile_form.age}}
					<label data-content="Wpisz ile masz lat"form=profile_form.age>Wpisz ile masz lat</label><br>
				{{form.errors}}
			  <p>Masz już konto? <a href="{% url 'Logowanie' %}"data-content="Zaloguj się tutaj!">Zaloguj się tutaj!</a></p>
			  <input type="submit" id="accept" name="Create User">
			</form>
		</div>
		<div class="description"><p>Korzystając z naszej strony jednocześnie wyrażasz zgode na regulamin użytkowania. Prosimy o nie podawanie prawdziwego nazwiska, używanie pseudonimu.</p></div>
{% endblock %}